* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: 'Dancing Script', cursive;
    font-size: large;
    font-weight: bold;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(4, 100px);
    align-items: center;
    justify-items: center;
}

img {
    display: block;
    margin: 50px;
    grid-column: span 2;
}

#selectedCountry {
    grid-column: span 2;
}

#countryPrefix {
    width: 60px;
    align-items: end;
}

label {
    font-weight: bold;
}

input {
    width: 200px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 15px aquamarine;
    border-radius: 10px;
    border: 0;
}

input:focus-visible {
    outline: 3px solid aquamarine;
}

a {
    width: 100px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: aqua;
    box-shadow: 0 0 10px aqua;
    border-radius: 15px;
    color: blue;
    grid-column: span 2;
}

/* #contacts {
    width: 100px;
    margin: 10px;
    padding: 10px;
    border: 0;
    text-decoration: none;
    text-align: center;
    background-color: aqua;
    box-shadow: 0 0 10px aqua;
    border-radius: 15px;
    color: blue;
    cursor: pointer;
} */